<h1>
    Bienvenue dans la galerie d'art exo
</h1>

    <div>
        <h2>
            Qui sommes nous?
        </h2>
        <p>
            Nous sommes une petite galerie d'art detenue par de jeune passioné tout droit sortie de 
            l'ecole des beau art de Bruxelles. nous souhaitons pouvoir partagé notre passion pour l'art
            au plus grand nombre.
        </p>
    </div>